<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class = "container w-100 position-relative">
        <!--Left Footer Content-->
          <h6 class = "navbar-text mb-0 float-start">&copy; Copyright 2025. All rights reserved</h6>
        </div>
      </nav>
      </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>