<%- include ./partials/header.ejs%>
<%- include ./partials/main_nav.ejs%>
<main class="container text-center mt-5">
  <div class="bg-light p-5 rounded shadow-sm">
    <h1 class="display-4">Welcome to Student Records</h1>
    <p class="lead">Read, Edit and Update your student's records.</p>
    <hr class="my-4">
    <p>Get started on managing students on the list page.</p>
  </div>
</main>
<%- include ./partials/footer.ejs%>